In [1]:
import timeit
import numpy as np 
import pandas as pd 
import progressbar
start = timeit.default_timer()
file_name = "./tabular_dataset/Obesity Classification.csv"
df = pd.read_csv(file_name)
print(df.isnull().values.any())

False

In [2]:
df.columns

Index(['ID', 'Age', 'Gender', 'Height', 'Weight', 'BMI', 'Label'], dtype='object')

In [3]:
df

      ID  Age  Gender  Height  Weight   BMI          Label
0      1   25    Male     175      80  25.3  Normal Weight
1      2   30  Female     160      60  22.5  Normal Weight
2      3   35    Male     180      90  27.3     Overweight
3      4   40  Female     150      50  20.0    Underweight
4      5   45    Male     190     100  31.2          Obese
..   ...  ...     ...     ...     ...   ...            ...
103  106   11    Male     175      10   3.9    Underweight
104  107   16  Female     160      10   3.9    Underweight
105  108   21    Male     180      15   5.6    Underweight
106  109   26  Female     150      15   5.6    Underweight
107  110   31    Male     190      20   8.3    Underweight

[108 rows x 7 columns]

In [4]:
i=0
for typ in df.Gender.unique():    
    df.loc[df["Gender"]==typ,"Gender"]=i
    print(typ, i)
    i=i+1
print(df)

Male 0
Female 1
      ID  Age Gender  Height  Weight   BMI          Label
0      1   25      0     175      80  25.3  Normal Weight
1      2   30      1     160      60  22.5  Normal Weight
2      3   35      0     180      90  27.3     Overweight
3      4   40      1     150      50  20.0    Underweight
4      5   45      0     190     100  31.2          Obese
..   ...  ...    ...     ...     ...   ...            ...
103  106   11      0     175      10   3.9    Underweight
104  107   16      1     160      10   3.9    Underweight
105  108   21      0     180      15   5.6    Underweight
106  109   26      1     150      15   5.6    Underweight
107  110   31      0     190      20   8.3    Underweight

[108 rows x 7 columns]

In [5]:
i=0
for typ in df.Label.unique():    
    df.loc[df["Label"]==typ,"Label"]=i
    print(typ, i)
    i=i+1
print(df)

Normal Weight 0
Overweight 1
Underweight 2
Obese 3
      ID  Age Gender  Height  Weight   BMI Label
0      1   25      0     175      80  25.3     0
1      2   30      1     160      60  22.5     0
2      3   35      0     180      90  27.3     1
3      4   40      1     150      50  20.0     2
4      5   45      0     190     100  31.2     3
..   ...  ...    ...     ...     ...   ...   ...
103  106   11      0     175      10   3.9     2
104  107   16      1     160      10   3.9     2
105  108   21      0     180      15   5.6     2
106  109   26      1     150      15   5.6     2
107  110   31      0     190      20   8.3     2

[108 rows x 7 columns]

In [6]:
df

      ID  Age Gender  Height  Weight   BMI Label
0      1   25      0     175      80  25.3     0
1      2   30      1     160      60  22.5     0
2      3   35      0     180      90  27.3     1
3      4   40      1     150      50  20.0     2
4      5   45      0     190     100  31.2     3
..   ...  ...    ...     ...     ...   ...   ...
103  106   11      0     175      10   3.9     2
104  107   16      1     160      10   3.9     2
105  108   21      0     180      15   5.6     2
106  109   26      1     150      15   5.6     2
107  110   31      0     190      20   8.3     2

[108 rows x 7 columns]

In [7]:
df = df.drop(columns=['ID'])

In [8]:

df.to_csv('./tabular_dataset/trieu_data_processed.csv', index=False)
stop = timeit.default_timer()
print('Time: ', stop - start)

Time:  92.77944445190951